[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-admin = "*"
psycopg2 = "*"
django-environ = "*"
firebase-admin = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
gunicorn = "*"
django = "==4.1.3"
uvicorn = "*"
httpx = "*"

[dev-packages]

[requires]
python_version = "3.10"
